body{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 300px;
    background-color: #f5c9ff;
    
}

.main {
    height: 600px;
}

.footer {
    height: 300px;
    background-color: #cc87f6;
}